In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
from py2neo import Graph, Node, Relationship
import numpy as np

In [2]:
# Define the connection URI, username, and password
uri = "bolt://localhost:7687" 
username = "neo4j"  
password = "onetwothree@123"

In [3]:
class Neo4jConfig:
    def __init__(self, uri, username, password):
        self.uri = uri
        self.username = username
        self.password = password
        self.project = 'Example Project'
        self.database = 'Movie DBMS'

    def connect(self):
        return Graph(self.uri, auth=(self.username, self.password))

In [7]:
config = Neo4jConfig(uri = uri, username=username, password=password)
# Connect to Neo4j
config.graph = config.connect()

In [5]:
# Example query
query = "MATCH (n: Movie) RETURN count(n) as No_of_movies"
result = config.graph.run(query)

In [6]:
result

 No_of_movies
--------------
           78

In [22]:
# Example query
query = "MATCH (n: Person) RETURN count(n) as No_of_persons"
result = config.graph.run(query)
result

 No_of_persons
---------------
           270

In [44]:
query ="MATCH (p:Person) RETURN p.name"
result = config.graph.run(query)
result

 p.name
--------------------
 Keanu Reeves
 Carrie-Anne Moss
 Laurence Fishburne

In [45]:
person_names =[] 
for record in result:
    person_names.append(record)
    print(record)

'Keanu Reeves'
'Carrie-Anne Moss'
'Laurence Fishburne'
'Hugo Weaving'
'Andy Wachowski'
'Lana Wachowski'
'Joel Silver'
'Emil Eifrem'
'Charlize Theron'
'Al Pacino'
'Taylor Hackford'
'Tom Cruise'
'Jack Nicholson'
'Demi Moore'
'Kevin Bacon'
'Kiefer Sutherland'
'Noah Wyle'
'Cuba Gooding Jr.'
'Kevin Pollak'
'J.T. Walsh'
'James Marshall'
'Christopher Guest'
'Rob Reiner'
'Aaron Sorkin'
'Kelly McGillis'
'Val Kilmer'
'Anthony Edwards'
'Tom Skerritt'
'Meg Ryan'
'Tony Scott'
'Jim Cash'
'Renee Zellweger'
'Kelly Preston'
"Jerry O'Connell"
'Jay Mohr'
'Bonnie Hunt'
'Regina King'
'Jonathan Lipnicki'
'Cameron Crowe'
'River Phoenix'
'Corey Feldman'
'Wil Wheaton'
'John Cusack'
'Marshall Bell'
'Helen Hunt'
'Greg Kinnear'
'James L. Brooks'
'Annabella Sciorra'
'Max von Sydow'
'Werner Herzog'
'Robin Williams'
'Vincent Ward'
'Ethan Hawke'
'Rick Yune'
'James Cromwell'
'Scott Hicks'
'Parker Posey'
'Dave Chappelle'
'Steve Zahn'
'Tom Hanks'
'Nora Ephron'
'Rita Wilson'
'Bill Pullman'
'Victor Garber'
"Rosie O'Donnell"
'John Patrick Stanley'
'Nathan Lane'
'Billy Crystal'
'Carrie Fisher'
'Bruno Kirby'
'Liv Tyler'
'Brooke Langton'
'Gene Hackman'
'Orlando Jones'
'Howard Deutch'
'Christian Bale'
'Zach Grenier'
'Mike Nichols'
'Richard Harris'
'Clint Eastwood'
'Takeshi Kitano'
'Dina Meyer'
'Ice-T'
'Robert Longo'
'Halle Berry'
'Jim Broadbent'
'Tom Tykwer'
'Ian McKellen'
'Audrey Tautou'
'Paul Bettany'
'Ron Howard'
'Natalie Portman'
'Stephen Rea'
'John Hurt'
'Ben Miles'
'Emile Hirsch'
'John Goodman'
'Susan Sarandon'
'Matthew Fox'
'Christina Ricci'
'Rain'
'Naomie Harris'
'Michael Clarke Duncan'
'David Morse'
'Sam Rockwell'
'Gary Sinise'
'Patricia Clarkson'
'Frank Darabont'
'Frank Langella'
'Michael Sheen'
'Oliver Platt'
'Danny DeVito'
'John C. Reilly'
'Ed Harris'
'Bill Paxton'
'Philip Seymour Hoffman'
'Jan de Bont'
'Robert Zemeckis'
'Milos Forman'
'Diane Keaton'
'Nancy Meyers'
'Chris Columbus'
'Julia Roberts'
'Madonna'
'Geena Davis'
'Lori Petty'
'Penny Marshall'
'Paul Blythe'
'Angela Scope'
'Jessica Thompson'
'James Thompson'
'Keanu Reeves'
'Carrie-Anne Moss'
'Laurence Fishburne'
'Hugo Weaving'
'Andy Wachowski'
'Lana Wachowski'
'Joel Silver'
'Emil Eifrem'
'Charlize Theron'
'Al Pacino'
'Taylor Hackford'
'Tom Cruise'
'Jack Nicholson'
'Demi Moore'
'Kevin Bacon'
'Kiefer Sutherland'
'Noah Wyle'
'Cuba Gooding Jr.'
'Kevin Pollak'
'J.T. Walsh'
'James Marshall'
'Christopher Guest'
'Rob Reiner'
'Aaron Sorkin'
'Kelly McGillis'
'Val Kilmer'
'Anthony Edwards'
'Tom Skerritt'
'Meg Ryan'
'Tony Scott'
'Jim Cash'
'Renee Zellweger'
'Kelly Preston'
"Jerry O'Connell"
'Jay Mohr'
'Bonnie Hunt'
'Regina King'
'Jonathan Lipnicki'
'Cameron Crowe'
'River Phoenix'
'Corey Feldman'
'Wil Wheaton'
'John Cusack'
'Marshall Bell'
'Helen Hunt'
'Greg Kinnear'
'James L. Brooks'
'Annabella Sciorra'
'Max von Sydow'
'Werner Herzog'
'Robin Williams'
'Vincent Ward'
'Ethan Hawke'
'Rick Yune'
'James Cromwell'
'Scott Hicks'
'Parker Posey'
'Dave Chappelle'
'Steve Zahn'
'Tom Hanks'
'Nora Ephron'
'Rita Wilson'
'Bill Pullman'
'Victor Garber'
"Rosie O'Donnell"
'John Patrick Stanley'
'Nathan Lane'
'Billy Crystal'
'Carrie Fisher'
'Bruno Kirby'
'Liv Tyler'
'Brooke Langton'
'Gene Hackman'
'Orlando Jones'
'Howard Deutch'
'Christian Bale'
'Zach Grenier'
'Mike Nichols'
'Richard Harris'
'Clint Eastwood'
'Takeshi Kitano'
'Dina Meyer'
'Ice-T'
'Robert Longo'
'Halle Berry'
'Jim Broadbent'
'Tom Tykwer'
'Ian McKellen'
'Audrey Tautou'
'Paul Bettany'
'Ron Howard'
'Natalie Portman'
'Stephen Rea'
'John Hurt'
'Ben Miles'
'Emile Hirsch'
'John Goodman'
'Susan Sarandon'
'Matthew Fox'
'Christina Ricci'
'Rain'
'Naomie Harris'
'Michael Clarke Duncan'
'David Morse'
'Sam Rockwell'
'Gary Sinise'
'Patricia Clarkson'
'Frank Darabont'
'Frank Langella'
'Michael Sheen'
'Oliver Platt'
'Danny DeVito'
'John C. Reilly'
'Ed Harris'
'Bill Paxton'
'Philip Seymour Hoffman'
'Jan de Bont'
'Robert Zemeckis'
'Milos Forman'
'Diane Keaton'
'Nancy Meyers'
'Chris Columbus'
'Julia Roberts'
'Madonna'
'Geena Davis'
'Lori Petty'
'Penny Marshall'
'Paul Blythe'
'Angela Scope'
'Jessica Thompson'
'James Thompson'
'Kang-ho Song'
'Sun-kyun Lee'
'Yeo-jeong Jo'
'Woo-sik Choi'
'So-dam Park'
'Joaquin Phoenix'
'Robert De Niro'
'Zazie Beetz'

In [46]:
person_names[0:3]

[Record({'p.name': 'Keanu Reeves'}),
 Record({'p.name': 'Carrie-Anne Moss'}),
 Record({'p.name': 'Laurence Fishburne'})]

## Movie Queries

In [53]:
# Since duplicate records exists DISTINCT is used in the query

query ="MATCH (m:Movie) RETURN DISTINCT m.title as MovieName"
result = config.graph.run(query)
result

 MovieName
------------------------
 The Matrix
 The Matrix Reloaded
 The Matrix Revolutions

In [54]:
for i in result:
    print(i)

'The Matrix'
'The Matrix Reloaded'
'The Matrix Revolutions'
"The Devil's Advocate"
'A Few Good Men'
'Top Gun'
'Jerry Maguire'
'Stand By Me'
'As Good as It Gets'
'What Dreams May Come'
'Snow Falling on Cedars'
"You've Got Mail"
'Sleepless in Seattle'
'Joe Versus the Volcano'
'When Harry Met Sally'
'That Thing You Do'
'The Replacements'
'RescueDawn'
'The Birdcage'
'Unforgiven'
'Johnny Mnemonic'
'Cloud Atlas'
'The Da Vinci Code'
'V for Vendetta'
'Speed Racer'
'Ninja Assassin'
'The Green Mile'
'Frost/Nixon'
'Hoffa'
'Apollo 13'
'Twister'
'Cast Away'
"One Flew Over the Cuckoo's Nest"
"Something's Gotta Give"
'Bicentennial Man'
"Charlie Wilson's War"
'The Polar Express'
'A League of Their Own'
'Parasite'
'Joker'

In [67]:
query = "MATCH (m:Movie {title: 'Cloud Atlas'}) RETURN m as Properties"
result = config.graph.run(query)

In [68]:
resulted = result.to_data_frame()

In [70]:
resulted.values

array([[Node('Movie', released=2012, tagline='Everything is connected', title='Cloud Atlas')],
       [Node('Movie', released=2012, tagline='Everything is connected', title='Cloud Atlas')]],
      dtype=object)

##### conditional matching

In [71]:
query ="MATCH (nine:Movie) WHERE nine.released>=1900 AND nine.released<2000 RETURN nine.title"
result = config.graph.run(query)

In [74]:
for i in result:
    print(i)

'The Matrix'
"The Devil's Advocate"
'A Few Good Men'
'Top Gun'
'Stand By Me'
'As Good as It Gets'
'What Dreams May Come'
'Snow Falling on Cedars'
"You've Got Mail"
'Sleepless in Seattle'
'Joe Versus the Volcano'
'When Harry Met Sally'
'That Thing You Do'
'The Birdcage'
'Unforgiven'
'Johnny Mnemonic'
'The Green Mile'
'Hoffa'
'Apollo 13'
'Twister'
"One Flew Over the Cuckoo's Nest"
'Bicentennial Man'
'A League of Their Own'
'The Matrix'
"The Devil's Advocate"
'A Few Good Men'
'Top Gun'
'Stand By Me'
'As Good as It Gets'
'What Dreams May Come'
'Snow Falling on Cedars'
"You've Got Mail"
'Sleepless in Seattle'
'Joe Versus the Volcano'
'When Harry Met Sally'
'That Thing You Do'
'The Birdcage'
'Unforgiven'
'Johnny Mnemonic'
'The Green Mile'
'Hoffa'
'Apollo 13'
'Twister'
"One Flew Over the Cuckoo's Nest"
'Bicentennial Man'
'A League of Their Own'

## Pattern matching with multiple nodes

### List of Movies acted by Tom Hanks

In [116]:
query = "MATCH (actor:Person {name: 'Tom Hanks'})-[:ACTED_IN]->(m:Movie) RETURN DISTINCT actor.name, m.title"

result = config.graph.run(query)

In [117]:
for i, j in result:

    print(i, "-->", j)

Tom Hanks --> You've Got Mail
Tom Hanks --> Apollo 13
Tom Hanks --> Joe Versus the Volcano
Tom Hanks --> That Thing You Do
Tom Hanks --> Cloud Atlas
Tom Hanks --> The Da Vinci Code
Tom Hanks --> Sleepless in Seattle
Tom Hanks --> A League of Their Own
Tom Hanks --> The Green Mile
Tom Hanks --> Charlie Wilson's War
Tom Hanks --> Cast Away
Tom Hanks --> The Polar Express

In [118]:
query = "MATCH (movie:Movie {title: 'Cast Away'})-[:ACTED_IN]->(p:Person) RETURN DISTINCT p.name, movie.title"
 # Because this is directional and get no data output
result = config.graph.run(query)
result

(No data)

### Who else acted along with Tom Hanks

In [119]:
# <> not qual to 
query = """MATCH (actor:Person)-[:ACTED_IN]->(m)<-[:ACTED_IN]-(coActors)
            WHERE actor.name= "Tom Hanks" AND coActors.name <> "Tom Hanks" 
            RETURN coActors.name"""

result = config.graph.run(query)
result

 coActors.name
---------------
 Parker Posey
 Greg Kinnear
 Meg Ryan

In [120]:
for j in result:

    print( "-->", j)

--> 'Parker Posey'
--> 'Greg Kinnear'
--> 'Meg Ryan'
--> 'Steve Zahn'
--> 'Dave Chappelle'
--> 'Ed Harris'
--> 'Kevin Bacon'
--> 'Gary Sinise'
--> 'Bill Paxton'
--> 'Nathan Lane'
--> 'Meg Ryan'
--> 'Liv Tyler'
--> 'Charlize Theron'
--> 'Jim Broadbent'
--> 'Halle Berry'
--> 'Hugo Weaving'
--> 'Audrey Tautou'
--> 'Ian McKellen'
--> 'Paul Bettany'
--> 'Meg Ryan'
--> 'Victor Garber'
--> 'Bill Pullman'
--> 'Rita Wilson'
--> "Rosie O'Donnell"
--> 'Lori Petty'
--> 'Bill Paxton'
--> "Rosie O'Donnell"
--> 'Geena Davis'
--> 'Madonna'
--> 'Patricia Clarkson'
--> 'Sam Rockwell'
--> 'Gary Sinise'
--> 'David Morse'
--> 'Bonnie Hunt'
--> 'Michael Clarke Duncan'
--> 'James Cromwell'
--> 'Julia Roberts'
--> 'Philip Seymour Hoffman'
--> 'Helen Hunt'
--> 'Audrey Tautou'
--> 'Ian McKellen'
--> 'Paul Bettany'
--> 'Gary Sinise'
--> 'Bill Paxton'
--> 'Ed Harris'
--> 'Kevin Bacon'
--> 'Bonnie Hunt'
--> 'David Morse'
--> 'Gary Sinise'
--> 'Sam Rockwell'
--> 'James Cromwell'
--> 'Patricia Clarkson'
--> 'Michael Clarke Duncan'
--> 'Helen Hunt'
--> 'Philip Seymour Hoffman'
--> 'Julia Roberts'
--> 'Liv Tyler'
--> 'Charlize Theron'
--> "Rosie O'Donnell"
--> 'Bill Paxton'
--> 'Geena Davis'
--> 'Lori Petty'
--> 'Madonna'
--> 'Nathan Lane'
--> 'Meg Ryan'
--> 'Meg Ryan'
--> 'Victor Garber'
--> 'Bill Pullman'
--> "Rosie O'Donnell"
--> 'Rita Wilson'
--> 'Parker Posey'
--> 'Dave Chappelle'
--> 'Steve Zahn'
--> 'Meg Ryan'
--> 'Greg Kinnear'
--> 'Hugo Weaving'
--> 'Halle Berry'
--> 'Jim Broadbent'

 searching for co-actors of "Tom Hanks" from the movie "Apollo 13". Let's break down the query:

In [128]:
query = """MATCH (actor:Person)-[:ACTED_IN]->(m)<-[:ACTED_IN]-(coActors)
            
             WHERE actor.name="Tom Hanks" AND m.title= "Apollo 13"
            RETURN coActors.name, m.title"""

result = config.graph.run(query)
result

 coActors.name | m.title
---------------|-----------
 Ed Harris     | Apollo 13
 Kevin Bacon   | Apollo 13
 Gary Sinise   | Apollo 13

In [129]:
for i, j in result:

    print(i, "-->", j)

Ed Harris --> Apollo 13
Kevin Bacon --> Apollo 13
Gary Sinise --> Apollo 13
Bill Paxton --> Apollo 13
Gary Sinise --> Apollo 13
Bill Paxton --> Apollo 13
Ed Harris --> Apollo 13
Kevin Bacon --> Apollo 13

# End

##### Adding data to Graph

In [ ]:
cypher = """
CREATE (andreas:Person {name:"Andreas"})
RETURN andreas
"""

kg.query(cypher)

cypher = """
MATCH (andreas:Person {name:"Andreas"}), (emil:Person {name:"Emil Eifrem"})
MERGE (andreas)-[hasRelationship:WORKS_WITH]->(emil)
RETURN andreas, hasRelationship, emil
"""
kg.query(cypher)